@model VendingMachineDrinks.Models.Coins

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Coins</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Coin)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Coin)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Allow)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Allow)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.CoinId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
