@model DataModel

@{
    ViewData["Title"] = "Drinks";    
}

<script type="text/javascript">
    function DropCoin(data)
    {
        $("#display").text(data["Message"]);
        $("#amount").text(data["Amount"]);
        DisableButton(data);
    }

    function Success(data)
    {
        $("#display").text(data["Message"]);
        $("#amount").text(data["Amount"]);
        $("#" + data["Drink-Id"] + "-count").text(data["Drink-Count"]);
        DisableButton(data);
    }

    function GetChange(data)
    {
        $("#display").text(data["Message"]);
        $("#amount").text(data["Amount"]);
        DisableButton(data);
    }

    function DisableButton(data)
    {
        //console.log(data);

        var indexes = data["indexes"];
        var btnEnabled = data["enabled"];

        for (let i = 0; i < indexes.length; i++)
        {
            console.log("index " + i + " = " + indexes[i]);
            console.log("enabled " + i + " = " + btnEnabled[i]);
            document.getElementById(indexes[i]).disabled = btnEnabled[i];
        }        
    }
</script>

<script type="text/javascript">
	 jQuery(function($) {
	 	$('#update-container').click(function(e) {
	 		e.preventDefault();

	 		$.ajax({
	 			url: '@Url.Action("Index", "Home")',
	 			success: function(data) {
	 				$('#container').html(data);
	 			}
	 		});
	 	})
	 })
</script>


<div class="block-1">
    <table border="1" width="100%">
        <tbody>
            <tr>
                <td>
                    <div id="display" align="center">@ViewData["Message"]</div>
                </td>
            </tr>
            <tr>
                <td>
                    <div id="amount" align="center">@ViewData["Amount"]</div>
                </td>
            </tr>
            <tr>
                <td>
                    @foreach (var coin in Model.Coins)
                    {
                    <div>
                        <form style="float: left" 
                              data-ajax="true"
                              data-ajax-url="@Url.Action("DropCoin", "Home")"
                              data-ajax-success="DropCoin">
                            <input class="button-coin"
                                   type="submit"
                                   name="coin"
                                   value="@coin.Coin"
                                   @(coin.Allow ? "" : "disabled") />
                        </form>
                    </div>
                    }
                    </td>
            </tr>
            <tr>
                <td>
                    <div align="center">
                        <form data-ajax="true"
                              data-ajax-url="@Url.Action("GetChange", "Home")"
                              data-ajax-update="#display"
                              data-ajax-success="GetChange">
                            <input type="submit"
                                   value="Выдать сдачу"
                                   class="btn btn-primary" />
                        </form>

                        <div id="change" align="center"></div>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<div class="block-2">
    <p>Выберите напиток</p>

    <table class="table">
        <thead>
            <tr>
                <th>Напиток</th>
                <th>Цена</th>
                <th>Количество</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Drinks)
            {
                <tr>
                    <td>
                        <form data-ajax="true" 
                              data-ajax-url="@Url.Action("Select", "Home")" 
                              data-ajax-success="Success" >
                            <button style="width:100px" name="id" value="@item.Id" id="drink-@item.Id"
                                @(item.Count > 0 && item.Cost <= int.Parse(ViewData["Amount"].ToString()) ? "" : "disabled")>
                                @Html.DisplayFor(modelItem => item.Name)</button>
                        </form>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Cost)
                    </td>
                    <td>
                        <div id="drink-@item.Id-count">@Html.DisplayFor(modelItem => item.Count)</div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
