@model DataModel

@{
    ViewData["Title"] = "Admin mode";
}

<script type="text/javascript">
    function UpdateCoins(data) {
        //console.log(data);
        alert(data["Message"]);
    }
    function UpdateDrinks(data) {
        //console.log(data);
        alert(data["Message"]);
    }
    function ImportSuccess(data) {
        //console.log(data);
        alert(data["Message"]);
    }
</script>

<h1>Режим администратора</h1>

<form data-ajax="true"
      data-ajax-url="@Url.Action("Save")"
      data-ajax-success="UpdateCoins">
    <p>
        <button type="submit" value="Save" class="btn btn-primary">Сохранить изменения</button>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Монета</th>
                <th>Приём монеты</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Coins)
            {
                <tr>
                    <td>
                        <label>@item.CoinId</label>
                        <input type="hidden" id="@item.CoinId" name="@item.CoinId" value="@item.CoinId" />
                    </td>
                    <td>
                        <label>@item.Coin</label>
                    </td>
                    <td>
                        

                        <input type="checkbox" class="check-box"
                               id="@item.CoinId"
                               name=@("coinDic[Coin-" + item.CoinId + "]")
                               value="@(item.Allow ? "true" : "false")"
                               @(item.Allow ? "checked" : "") />
                    </td>
                </tr>
            }
        </tbody>
    </table>
</form>

<p>
    <a asp-action="Create">Добавить напиток</a>
</p>
<form method="post" 
      enctype="multipart/form-data"
      data-ajax="true"
      data-ajax-url="@Url.Action("ImportDrinks")"
      data-ajax-success="ImportSuccess">
    <label>Импортировать напитки из файла JSON</label>
    <input type="file"  name="file" accept=".json" /><br />
    <button type="submit" value="ImportDrinks" class="btn-primary">Импортировать</button>
</form>
<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Напиток</th>
            <th>Цена</th>
            <th>Количество</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Drinks)
        {
            <form data-ajax="true"
                  data-ajax-url="@Url.Action("Edit")"
                  data-ajax-success="UpdateDrinks">
                <tr>
                    <td>
                        <label>@item.Id</label>
                        <input type="hidden" name="Id" value="@item.Id" />
                    </td>
                    <td>
                        <input class="text-box single-line"
                               data-val="true"
                               data-val-required="Укажите название"
                               name="Name"
                               type="text"
                               value="@item.Name" />
                    </td>
                    <td>
                        <input class="text-box single-line"
                               data-val="true"
                               data-val-required="Укажите цену"
                               name="Cost"
                               type="number"
                               value="@item.Cost" />
                    </td>
                    <td>
                        <input class="text-box single-line"
                               data-val="true"
                               data-val-required="Укажите количество"
                               name="Count"
                               type="number"
                               value="@item.Count" />
                    </td>
                    <td>
                        <button type="submit" value="Edit" class="btn btn-primary">Сохранить изменения</button> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Удалить</a>
                    </td>
                </tr>
            </form>
        }
    </tbody>
</table>