@model DataModel

@{
    ViewData["Title"] = "Admin";
}

<h1>Режим администратора</h1>

<p>
    <a asp-action="Save">Сохранить изменения</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Монета</th>
            <th>Приём монеты</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Coins)
{
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CoinId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Coin)
                </td>
                <td>
                    @Html.EditorFor(modelItem => item.Allow)
                </td>
            </tr>
}
    </tbody>
</table>

<p>
    <a asp-action="Create">Добавить напиток</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Напиток</th>
            <th>Цена</th>
            <th>Количество</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Drinks) 
{
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.EditorFor(modelItem => item.Name)
            </td>
            <td>
                @Html.EditorFor(modelItem => item.Cost)
            </td>
            <td>
                @Html.EditorFor(modelItem => item.Count)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Сохранить изменения</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Удалить</a>
            </td>
        </tr>
}
    </tbody>
</table>
